/**
* Header CSS
*/

header {
position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 2;
}

header ul.mui-list--inline {
margin-bottom: 0;
}

header a {
color: white;
}

header table {
width: 100%;
}

/**
* Body CSS
*/
html,
body {
    height: 100%;
}


html,
body,
input,
textarea,
button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Sidebar CSS
*/
#sidebar {
    background-color: gray;
    padding: 15px;
}

@media (min-width: 768px) {
    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 170px;
        height: 100%;
        padding-top: 30px;
    }
}
/**
* Content CSS
*/
@media (min-width: 768px) {
    #content {
        margin-left: 200px;
    }
}

#content-wrapper {
    min-height: 100%;

    /* sticky footer */
    box-sizing: border-box;
    margin-bottom: -100px;
    padding-bottom: 100px;
}

.mui-appbar {
    background-color: gray !important;
}

.landing-image {
    border-style: solid;
    border-width: 5px;
}

/**
 * Footer CSS
 */

 footer {
    box-sizing: border-box;
    height: 100px;
    background-color: #eee;
    border-top: 1px solid #e0e0e0;
    padding-top: 35px;
  }

.max-header {
    padding-left: 20px;
}

.post-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
}

.is-hidden {
    display: none;
}

.no-btn {
    position: relative;
    top: 65px; left: 125px;
}

.yes-btn {
    position: relative;
    top: 65px; left: 125px;
}
