#update_post {
    background-color: rgba(211, 211, 211, 0.5);
    color: black;
}

.lift-label {
    margin-right: 20px;
}

.jumbotron {
    background-image: url('https://www.strengthlog.app/static/assets/jumbotron_bg.png');
    background-size: cover;
    height: 100%;
    color: white;
}


/* Modify the backgorund color */ 
.navbar-custom { 
    background-color: rgb(59, 85, 30); 
}


/* Modify brand and text color */ 
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text, 
nav .navbar-nav li a { 
    color: white !important; 
}

canvas {
    display: block;
    height: 500px;
}

body { 
    background: rgba(219, 219, 219, 0.2) !important; 
}