{% extends "base.html" %}
{% block app_content %}
<div class="content-section">
    <div>
        <h1 class="text-center">About Strength Log</h1>
    </div>
    <br>
    <div class="mx-5">
        <h3>Strength log was created to make logging your strength workouts simple and fast. 
            Many workout logging applications are too general for strength athletes. Too many choices or settings keeps the
            focus off what is important. <b>Training!</b>
        </h3>
    </div>
    <br><br>
    <div class="mx-5">
        <h3>Strength Log is ideal for athletes who train in similar ways to popular programs such as 5/3/1, The Texas Method, GZCL, etc.. 
            Strength Log assumes you include a warm up, a main strength lift, accessory/assistance lifts and conditioning each and every day.</h3>
    </div>
    <br><br>
    <div class="mx-5">
        <h3>Have questions about Strength Log? Want to share your ideas on improving Strength Log? Contact Strength Log at
            <a href="mailto:contact.strength.log@gmail.com">contact.strength.log@gmail.com</a>. Strength Log wants to hear from you!
        </h3>
    </div>
</div>
{% endblock %}