{% extends "base.html" %}
{% block content %}
<div class="mui-row">
    <div class="mui-col-sm-10 mui-col-sm-offset-1">
        <br>
        <br>
        <div class="mui--text-dark-secondary mui--text-display1">{{ title }}</div>
        <div class="mui-divider"></div>
        <br>
        <br>
        <div>
            <div class="mui--text-dark mui--text-headline">What is Strength Log?</div>
            <div class="mui--text-dark mui--text-body2">Strength Log is used to log your workouts and track progress in the gym.</div>
            <br>
            <br>
            <div class="mui--text-dark mui--text-headline">How much is Strength Log?</div>
            <div class="mui--text-dark mui--text-body2">Strength Log is free.</div>
        </div>
    </div>
</div>
{% endblock %}