{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock %}


{% block app_content %}
{% if legend %}
    <h1>{{ legend }}</h1>
{% else %}
    <h1>Log Workout</h1>
{% endif %}

<form class="form" method="POST" action="">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    {% if form.title.errors %}
    {{ wtf.form_field(form.title) }}
    <div class="invalid-feedback">
        {% for error in form.title.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ wtf.form_field(form.title) }}
    {% endif %}

    {{ wtf.form_field(form.warm_up) }}
    <!-- Main Lift Subform -->
    <div class="panel panel-default">
        <div class="panel-body">
            {{ wtf.form_field(form.main_lift) }}
            <div>
                <button type="button" class="btn btn-primary" value="Add" onclick="add();">Add Set</button>
                <button type="button" class="btn btn-secondary" value="Remove" onclick="remove();">Remove Set</button>
            </div>
            <br>
            <div id="main-subform-container" class="form-inline">
                {% for subform in form.sets %}
                <div id="set-{{ loop.index0 }}-form" class="subform" data-index="{{ loop.index0 }}">
                    <label id="sets-0-label" class="control-label lift-label">Set: {{loop.index}}</label>
                    {{ subform.reps(class="form-control", type="number", placeholder="Reps") }}
                    {{ subform.weight(class="form-control", type="number", placeholder="Weight") }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="set-_-form" class="hidden" data-index="_">
        <label id="sets-_-label" class="lift-label"></label>
        <input class="form-control" id="sets-_-reps" name="sets-_-reps" type="number" placeholder="Reps">
        <input class="form-control" id="sets-_-weight" name="sets-_-weight" type="number" placeholder="Weight">
    </div>
    <br>
    <!-- Accessories Subform -->
    <div class="panel panel-default">
        <div class="panel-body">
            <label class="control-label">Accessories</label>
            <div>
                <button type="button" class="btn btn-primary" value="Add" onclick="add_accessory({{ accessory_lifts|safe }});">
                    Add Accessory
                </button>
                <button type="button" class="btn btn-secondary" value="Remove" onclick="remove_accessory();">
                    Remove Accessory
                </button>
                <br>
                <small>
                    Don't see an accessory you performed? <a href="{{ url_for('users.settings') }}">Add it here!</a>
                </small>
            </div>
            <br>
            <div id="accessories-subform-container" class="form-inline"></div>
        </div>
    </div>
    <div id="accessories-_-form" class="hidden" data-index="_">
        <select class="form-control" id="accessories-_-lift" name="accessories-_-lift" ></select>
        <input class="form-control" id="accessories-_-sets" name="accessories-_-sets" type="number" placeholder="Sets">
        <input class="form-control" id="accessories-_-reps" name="accessories-_-reps" type="number" placeholder="Reps">
        <input class="form-control" id="accessories-_-weight" name="accessories-_-weight" type="number" placeholder="Weight">
        <br>
    </div>
    <br>
    {{ wtf.form_field(form.conditioning) }}
    {{ wtf.form_field(form.submit) }}
</form>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/posts.js')}}"></script>
{{super()}}
{% endblock %}