{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
<script src="{{url_for('static', filename='posts.js')}}"></script>
{{super()}}
{% endblock %}


{% block app_content %}
    <form class="form" method="POST" action="">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.title) }}
        {{ wtf.form_field(form.warm_up) }}
        {{ wtf.form_field(form.main_lift) }}
        
        <div>
            <button type="button" class="btn btn-primary" value="Add" onclick="add();">Add Set</button>
            <button type="button" class="btn btn-secondary" value="Remove" onclick="remove();">Remove Set</button>
        </div>
        <br>
        <div id="subform-container" class="form-inline">
            {% for subform in form.sets %}
                <div id="set-{{ loop.index0 }}-form" class="subform" data-index="{{ loop.index0 }}">
                    {{ subform.reps(class="form-control", placeholder="Reps") }}
                    {{ subform.weight(class="form-control", placeholder="Weight") }}
                </div>
            {% endfor %}
        </div>
        <div id="set-_-form" class="invisible" data-index="_">
            <input class="form-control" id="sets-_-reps" name="sets-_-reps" type="text" placeholder="Reps">
            <input class="form-control" id="sets-_-weight" name="sets-_-weight" type="text" placeholder="Weight">
        </div>
        {{ wtf.form_field(form.accessories) }}
        {{ wtf.form_field(form.conditioning) }}
        {{ wtf.form_field(form.submit) }}
    </form>
{% endblock %}