{% extends "base.html" %}

{% block app_content %}
<div class="mui-container">
	<h1>Posts</h1>
	{% for post in posts %}
		<div class="card" style="width: 36rem;">
			<div class="card-body">
				<h2 class="card-title"><a class="card-link" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
				<h3>Warm Up</h3>
				<h5>{{ post.warm_up }}</h5>
				<h3>Main Lift</h3>
				<h5>{{ post.main_lift.capitalize() }}</h5>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Set</th>
							<th scope="col">Reps</th>
							<th scope="col">Weight</th>
						</tr>
					</thead>
				<tbody>
					{% for set in post.sets %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ set["reps"] }}</td>
						<td>{{ set["weight"] }}</td>
					</tr>
					{% endfor %}
				</tbody>
				</table>
				{% if post.accessories %}
					<h3>Accessories</h3>
					<h5>{{ post.accessories }}</h5>
				{% endif %}
				{% if post.conditioning %}
					<h3>Conditioning</h3>
					<h5>{{ post.conditioning }}</h5>
				{% endif %}
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}