{% extends 'base.html' %}

{% block app_content %}
<div class="content-section">
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center">Strength Log</h1>
            <br>
            <div class="col-lg-6 col-sm-5">
                <h2>What is Strength Log?</h2>
                <h4>Strength log is the simple way to track your strength workouts.</h4>
            </div>
            <div class="col-lg-6 col-sm-5">
                <h2>How to use Strength Log?</h2>
                <h4>Use the One-Rep Max Calculator without an account! To access other features please
                    <a href="{{ url_for('users.register') }}">register here.</a></h4>
            </div>
            <br>
            <div class="col-lg-6 col-sm-5">
                <h3>Strength Log users have completed over <b>{{ total_reps }}</b> reps of the four main lifts!</h3>
            </div>
            <div class="col-lg-6 col-sm-5">
                <h3>Strength Log users have logged <b>{{ posts_count }}</b> training sessions!</h3>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<div class="content-section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-sm-5">
                    <h1>View all of your workouts or quickly filter by your main lift of each individual workout.
                    </h1>
                </div>
                <div class="col-lg-6 col-sm-5">
                    <img src="{{ url_for('static', filename='assets/post_view.png') }}" alt="Post Page"
                        class="img-thumbnail" width="600">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="content-section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-sm-5">
                    <img src="{{ url_for('static', filename='assets/log.png') }}" alt="Logging" class="img-thumbnail"
                        height="800">
                </div>
                <div class="col-lg-6 col-sm-5">
                    <h1>Intuitive user interface for quickly adding workouts to your log.
                        Spend more time training, less time logging.
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="content-section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-sm-5">
                    <h1>Keep note of your personal records (PR's) to keep track of progess.</h1>
                </div>
                <div class="col-lg-6 col-sm-5">
                    <img src="{{ url_for('static', filename='assets/prs.png') }}" alt="PR Page" class="img-thumbnail"
                        width="500">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="content-section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-sm-5">
                    <img src="{{ url_for('static', filename='assets/training_max.png') }}" alt="Training Max"
                        class="img-thumbnail" width="400">
                </div>
                <div class="col-lg-6 col-sm-5">
                    <h1>Track your progress over time with the training max tracker and interactive charts.</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="content-section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-sm-5">
                    <h1>Strength Log is mobile friendly.</h1>
                </div>
                <div class="col-lg-6 col-sm-5">
                    <img src="{{ url_for('static', filename='assets/mobile.png') }}" alt="Mobile" class="img-thumbnail"
                        width="200">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}