{% extends "base.html" %}
{% block app_content %}
  <div>
      <h1>One-Rep Max Calculator</h1>
  </div>
  <br>
  <div class="form-group">
      <label for="weightLifted">Weight ({{ unit }})</label>
      <input type="text" class="form-control" id="weightLifted" placeholder="Weight" required>
  </div>
  <div class="form-group">
      <label for="repsCompleted">Reps Completed</label>
      <select name="repsCompleted" id="repsCompleted" class="form-control">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
      </select>
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-primary" onclick="calculateMax('{{ unit }}')">Calculate</button><br>
      <small id="calculatorTip" class="form-text text-muted">Accuracy may very depending on the athlete's experience.</small>
  </div>
  <div class="text-center">
      <h2 id="one-rep-max" style="text-align:left;float:left;"></h2>
    </div>
  <br>
  <table class="table table-condensed table-striped" id="max-rep-table">
    <thead>
      <tr>
        <th scope="col">Reps</th>
        <th scope="col">Weight ({{ unit }})</th>
        <th scope="col">Percentage of One-Rep Max</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>0</td>
        <td>100%</td>
      </tr>
      <tr>
        <td>2</td>
        <td>0</td>
        <td>97%</td>
      </tr>
      <tr>
        <td>3</td>
        <td>0</td>
        <td>94%</td>
      </tr>
      <tr>
        <td>4</td>
        <td>0</td>
        <td>92%</td>
      </tr>
      <tr>
        <td>5</td>
        <td>0</td>
        <td>89%</td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <div>
      <h4>The One-Rep Max Calculator uses the Epley formula for calculations.</h4><br>
      <img src="{{url_for('static', filename='assets/epley_formula.png')}}" alt="Epley Formula" class="img-responsive">
  </div>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/max_calculator.js')}}"></script>
{{super()}}
{% endblock %}