{% extends "base.html" %}
{% block content %}
<div class="mui-container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.squat.label(class="form-control-label") }}
                {% if form.squat.errors %}
                {{ form.squat(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.squat.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.squat(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.bench.label(class="form-control-label") }}
                {% if form.bench.errors %}
                {{ form.bench(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.bench.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.bench(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.deadlift.label(class="form-control-label") }}
                {% if form.deadlift.errors %}
                {{ form.deadlift(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.deadlift.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.deadlift(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.press.label(class="form-control-label") }}
                {% if form.press.errors %}
                {{ form.press(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.press.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.press(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock %}