{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{title}}</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="table-responsive">
                <table class="table table-condensed table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <fieldset>
                                    <legend>
                                        {{ form.squat.label(class="control-label")}} <strong>({{ unit }})</strong>
                                    </legend>
                                    {% for field in form.squat if field.widget.input_type != 'hidden'%}
                                    <div class="form-group">
                                        {{ field.label(class="control-label")}}
                                        {{ field(class="form-control") }}
                                    </div>
                                    {% endfor %}
                                </fieldset>
                            </td>
                            <td>
                                <fieldset>
                                    <legend>
                                        {{ form.bench.label(class="control-label")}} <strong>({{ unit }})</strong>
                                    </legend>
                                    {% for field in form.bench if field.widget.input_type != 'hidden'%}
                                    <div class="form-group">
                                        {{ field.label(class="control-label")}}
                                        {{ field(class="form-control") }}
                                    </div>
                                    {% endfor %}
                                </fieldset>
                            </td>
                            <td>
                                <fieldset>
                                    <legend>
                                        {{ form.deadlift.label(class="control-label")}} <strong>({{ unit }})</strong>
                                    </legend>
                                    {% for field in form.deadlift if field.widget.input_type != 'hidden'%}
                                    <div class="form-group">
                                        {{ field.label(class="control-label")}}
                                        {{ field(class="form-control") }}
                                    </div>
                                    {% endfor %}
                                </fieldset>
                            </td>
                            <td>
                                <fieldset>
                                    <legend>
                                        {{ form.press.label(class="control-label")}} <strong>({{ unit }})</strong>
                                    </legend>
                                    {% for field in form.press if field.widget.input_type != 'hidden'%}
                                    <div class="form-group">
                                        {{ field.label(class="control-label")}}
                                        {{ field(class="form-control") }}
                                    </div>
                                    {% endfor %}
                                </fieldset>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{ wtf.form_field(form.submit) }}
    </form>
{% endblock %}