{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="mui-container">
    <h1>{{title}}</h1>
    <form class="mui-form" method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <table class="table">
                <tbody>
                        <tr>
                            <td>
                                {{ wtf.form_field(form.squat) }}
                            </td>
                            <td>
                                {{ wtf.form_field(form.bench) }}
                            </td>
                            <td>
                                {{ wtf.form_field(form.deadlift) }}
                            </td>
                            <td>
                                {{ wtf.form_field(form.press) }}
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
        {{ wtf.form_field(form.submit) }}
    </form>
</div>

{% endblock %}