{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{title}}</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="table-responsive">
            <table class="table">
                <tbody>
                        <tr>
                            <td>
                                {{ wtf.form_field(form.squat) }}
                            </td>
                            <td>
                                {{ wtf.form_field(form.bench) }}
                            </td>
                            <td>
                                {{ wtf.form_field(form.deadlift) }}
                            </td>
                            <td>
                                {{ wtf.form_field(form.press) }}
                            </td>
                        </tr>
                </tbody>
            </table>
            </div>
        </div>
        {{ wtf.form_field(form.submit) }}
    </form>
{% endblock %}