{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='post.css')}}">
{% endblock %}

{% block app_content %}
	{% if post.author == current_user %}
		<div>
			<a class="btn" id="update_post" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
		</div>
		<br>
		<div>
			<form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
				{{ form.hidden_tag() }}
				<input class="btn btn-danger" type="submit" value="Delete">
			</form>
		</div>
	{% endif %}
	<div class="card" style="width: 36rem;">
		<div class="card-body">
			<h2 class="card-title">{{ post.title }}</h2>
			<h3>Warm Up</h3>
			<h5>{{ post.warm_up }}</h5>
			<h3>Main Lift</h3>
			<h5>{{ post.main_lift.capitalize() }}</h5>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Set</th>
						<th scope="col">Reps</th>
						<th scope="col">Weight</th>
					</tr>
				</thead>
			<tbody>
				{% for set in post.sets %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ set["reps"] }}</td>
					<td>{{ set["weight"] }}</td>
				</tr>
				{% endfor %}
			</tbody>
			</table>
			{% if post.accessories %}
				<h3>Accessories</h3>
				<h5>{{ post.accessories }}</h5>
			{% endif %}
			{% if post.conditioning %}
				<h3>Conditioning</h3>
				<h5>{{ post.conditioning }}</h5>
			{% endif %}
		</div>
	</div>

{% endblock %}