{% extends "base.html" %}

{% set title = "Register" %}

{% block content %}
<div class="mui-container">
    <form class="mui-form" method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <div class="mui-textfield">
                {% if form.email.errors %}
                {{ form.email(class="mui-textfield is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="mui-textfield") }}
                {% endif %}
                <label>{{ form.email.label }}</label>
            </div>
            <div class="mui-textfield">
                {% if form.password.errors %}
                {{ form.password(class="mui-textfield is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="mui-textfield") }}
                {% endif %}
                <label>{{ form.password.label }}</label>
            </div>
            <div class="mui-textfield">
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="mui-textfield is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="mui-textfield") }}
                {% endif %}
                <label>{{ form.confirm_password.label }}</label>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="mui-btn mui-btn--raised submit-btn") }}
        </div>
    </form>
</div>

{% endblock %}